/*

font-family: "fatfrank", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "mr-eaves-xl-modern", sans-serif;
font-weight: 900;
font-style: normal;

font-family: "mr-eaves-sans", sans-serif;
font-weight: 400;
font-style: normal;

*/


/* global */

:root {
--menuTextColor: #5D5D5D;   
--borderColor: rgba(212, 212, 212, 0.3); 
}

 * {
padding: 0;
margin: 0;    
}

html {
box-sizing: border-box;   
}

.flex-container {
display: flex;
flex-direction: row;
justify-content: baseline;
width: 100%;
height: 100vh;
}

.sidebar {
background: #FAFAFA;
width: 8%;
padding: 2%;   
border-right: 1px solid var(--borderColor);
}

nav h2 a {
font: normal 400 1em "fatfrank", sans-serif;
color: #535353;    
text-decoration: none;
}

nav menu {
display: flex;
flex-direction: column;
margin-top: 50px;
}

nav menu li {
list-style-type: none !important;    
}

main {
width: 100%;  
}

main header {
border-bottom: 1px solid var(--borderColor);    
width: 100%;
}

menu li {
margin-bottom: 15px;
height: 40px;
display: flex;
align-items: center;
justify-content: baseline;
font: normal 500 1em "mr-eaves-sans", sans-serif;
color: var(--menuTextColor); 
}

menu li a {
font: normal 500 1em "mr-eaves-sans", sans-serif;
color: var(--menuTextColor); 
text-decoration: none;    
}

menu li img {
margin: 0px 10px 0 0;    
}

nav menu li span {
border-radius: 15px;
width: 15px;
height: 15px;    
display: block;
margin-right: 10px;
}

nav menu li:first-child span {
background: #17E2CA;
}

nav menu li:nth-child(2) span {
background: #E50C0C;
}
 
nav menu li:nth-child(3) span {
background: #27BEF5;
}

/*********/


/* icons */

#message-reply img {
width: 24px;
height: 24px;   
}

#trash-can {
width: 21px;
height: 24px; 
margin: 13px 0 0 13px;    
}

#video {
width: 22px;
height: 15px;  
margin: 18px 0 0 13px;  
}

menu img {
width: 24px;
height: 20px;    
}

.search img {
width: 21px;
height: 21px; 
cursor: pointer;     
}

/*********/


/* Top menu */

.top-menu {
display: flex;
flex-direction: row;
justify-content: baseline;
padding: 1% 0;
width: 90%;
height: 50px;
position: fixed;
top: 0;
background: #fff;
border-bottom: 1px solid var(--borderColor); 
}

.top-menu .search {
margin: 10px 0 0 25px;
width: 25%;
}

#search {  
width: 90%;
height: 35px;
border: none;
border-bottom: 1px solid rgb(204, 204, 204);  
animation: slideRight 0.8s backwards 0.5s;
margin-left: 25px;
outline: transparent
}

.tab-menu {
width: 340px !important;
height: 40px;
border: 1px solid var(--borderColor);
border-radius: 20px;
padding: 0 15px;
margin-left: 15%;
}

.tab-menu menu {
display: flex;
flex-direction: row;
justify-content: space-evenly;
justify-items: center;
height: 5px;
}

.tab-menu img {
width: 18px;
height: 14px;
position: relative;
top: 2px;
}

.tab-menu li {
display: block;  
line-height: 2.7em;
padding-right: 25px;
border-right: 1px solid var(--borderColor); 
cursor: pointer;
}

.tab-menu li:last-of-type {
border-right: none;    
}

.theme-menu {
width: 200px;
height: 40px;
border: 1px solid var(--borderColor);
border-radius: 20px;  
display: flex;
flex-direction: row; 
justify-content: center;
justify-items: center;
margin-left: 15%;
}

.theme-menu menu li {
display: inline-block;
line-height: 3em;
width: 40%;
padding-right: 2px;
}

.theme-menu li:first-of-type span {
background: rgb(162, 162, 162); 
}


.theme-menu span {
font: normal 400 0.9em "mr-eaves-sans", sans-serif;
color: #5D5D5D; 
line-height: 2.7em;
padding: 0 15px;
}

.theme-menu menu li span {
background: #5D5D5D; 
border: 1px solid var(--borderColor);
cursor: pointer;
display: inline-block;
width: 15px;
height: 15px;
border-radius: 15px;
padding: 0;
}

.profile-menu {
width: 3%;   
margin-right: 75px;
margin-left: 10%;
margin-top: -10px;
}


/*********/


/* Sidebar */

#message-sidebar {
background: #F0F0F0;
width: 20%;
height: 93vh;  
border-right: 1px solid var(--borderColor); 
overflow: scroll;
}

#message-sidebar header {
border: none;
}

#filter {
display: flex;
flex-direction: row;
justify-content: space-between;  
padding: 0 25px; 
}

#filter li span {
background: none;   
border: none; 
margin-top: -5px;
cursor: pointer;
}

.message {
border-bottom: 1px solid var(--borderColor);  
padding: 25px; 
display: flex;
flex-direction: row;
justify-content: space-evenly; 
}

.left-column {
padding: 0 15px 0 0;    
}

.left-column img {
width: 32px;
height: 32px;    
border: 3px solid #c5c5c5;
border-radius: 20px;
}

.right-column header {
display: flex;
flex-direction: row;
justify-content: space-between; 
margin-bottom: 8px;  
border: none; 
}

.right-column span {
font: normal 400 0.9em "mr-eaves-sans", sans-serif;
color: #5D5D5D;   
}

.right-column h4 {
font: normal 700 1em "mr-eaves-xl-modern", sans-serif;
color: #424242;
}

.right-column p:first-of-type {
font: normal 800 1em  "mr-eaves-sans", sans-serif;
color: #5D5D5D;
margin-bottom: 5px;
}

.right-column p:last-of-type {
font: normal 400 0.9em "mr-eaves-sans", sans-serif;
line-height: 1.6em;
color: #5D5D5D;
margin-top: 10px;   
}

/*********/


/* Inbox */

#inbox {
display: flex;
flex-direction: row;
width: 90%; 
position: fixed;
top: 98px;
}

#messages { 
width: 100%;   
}

#messages header  {
width: 98%;
border: none;
}

#sender-details {
width: 100%; 
display: flex;
flex-direction: row;
justify-content: baseline;
padding: 1%;
background: #FCFAFA;
}

#sender-image {
width: 4%;    
}

#sender-image img {
width: 48px;
height: 48px;    
}

#details {
width: 15%;  
}

#details h6 {
font: normal 700 1em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D;
margin-bottom: 5px;
}

#details p {
font: normal 400 1em  "mr-eaves-sans", sans-serif;
color: #5D5D5D;
}

#message-options {
width: 75%; 
display: flex;
flex-direction: row;  
justify-content: end;
margin-top: -20px;
}

.message-item {
background: #E5E5E5;
border-radius: 15px;
width: 48px;
height: 48px;
margin: 20px 10px 0 10px;
}

.message-item img {
cursor: pointer;   
}

#reply {
position: fixed;
bottom: 50px;   
left: 45%; 
width: 35%;
height: 40px;
border: 1px solid var(--borderColor);
border-radius: 15px; 
}

#message-reply input {
width: 85%; 
height: 35px;   
outline: transparent;
border: none;
padding-left: 10px;
border-radius: 15px;
position: relative;
top: -5px;
}

#message-reply img {
margin: 6px 5px 0 0;    
cursor: pointer;
}

#message {
margin: 25px auto 0 auto; 
width: 65%;   
}

#message p {
font: normal 400 1em "mr-eaves-sans", sans-serif;
color: #5D5D5D;    
line-height: 1.6em;
}

#message p:first-of-type {
text-align: center;
font: normal 100 1em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D;   
}

#message h4 {
margin: 50px 0 15px 0;  
font: normal 100 1em "mr-eaves-xl-modern", sans-serif;
color: #3B3939;  
}

#message p:nth-child(3) {
margin: 0 0 15px 0;    
}

/*********/

#calendar-container {
display: flex;
flex-direction: row;
justify-content: baseline;    
}



/* contacts */





/*********/



/* calendar */

#calendar-container {
margin-top: 4%;  
width: 100%;
height: 90vh;
overflow: hidden;
}

#calendar-container .sidebar {
width: 20%;
height: 90vh;
padding: 0 !important;
}

#calendar-scheduler {
padding: 1%;
margin-top: 50px;
}

#calendar-scheduler #date span {
font: normal 100 2em "mr-eaves-modern", sans-serif;
color: #5D5D5D; 
text-align: center;
display: block;
text-transform: uppercase;
}

#calendar-scheduler #date h2 {
font: normal 900 3.4em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D; 
text-align: center;
}

#calendar-schedule h4 {
font: normal 100 1em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
text-align: left;
margin: 10px 0;
padding: 5px 0;
border-bottom: 1px solid rgb(229, 228, 228);
}

#calendar-schedule {
width: 98%;
margin-top: 25px;
}

.bubble {  
color:#17E2CA;
font-size: 2em;
}

.calendar-flex {
display: flex;
flex-direction: row;
justify-content: space-evenly;    
margin: 25px 0;
padding: 10px 0;
border-bottom: 1px solid rgb(204, 204, 204);
}

.calendar-flex div span:last-of-type {
background: none;
border-radius: 0;
}

.calendar-flex div p:first-of-type {
font: normal 900 0.8em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D;
}

.calendar-flex div p:first-of-type span {
font: normal 100 1em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
float: right;
display: block;
}

.calendar-flex div p:nth-child(2) {
font: normal 100 1em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
margin: 5px 0;
}

.calendar-flex div p:nth-child(3) {
font: normal 900 1em "mr-eaves-sans", sans-serif;
color: #424242;
margin: 5px 15px 5px 0 ;
}

.calendar-flex div p:last-of-type span  {
margin-left: 25px; 
}

.calendar-flex div p span a {
font: normal 900 1em "mr-eaves-sans", sans-serif;
color: #1c1c1c;
text-decoration: underline;    
}

#add-event {
margin:25px 0 0  25px;
background: #27C463;
width: 150px;
height: 40px;
border-radius: 15px;
border: none;
text-transform: uppercase;
font: normal 900 0.8em "mr-eaves-xl-modern", sans-serif;
color: #fafafa;
line-height: 3.2em !important;
cursor: pointer;
}

#current {
display: block;    
background: #bd0d6e;   
border-radius: 25px;
color: #fafafa; 
width: 25px;
height: 25px;
text-align: center;
}

#calendar {  
width: 100%; 
padding: 50px;
}

#calendar h2 {
font: normal 100 4em "mr-eaves-modern", sans-serif;
color: #5D5D5D; 
text-transform: uppercase;
}

#calendar ul li {
display: inline-block;
list-style-type: none;    
width: 9%;
height: 9vh;
border: 1px solid rgb(229, 228, 228);
padding: 25px;
line-height: 1.5em !important;
font: normal 100 1.2em "mr-eaves-modern", sans-serif;
color: #5D5D5D; 
}

#footer-calendar-menu {
display: flex;
flex-direction: row;
justify-content: center;
width: 35%;    
}



/*********/


/* storage */

#storage {
margin-top: 4.8%;  
width: 100%;
height: 90vh;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: baseline;   
}

#percentage {
border-radius: 25px;
width: 100%;
height: 25px;
background: #EBEBEB;
display: flex;
flex-direction: row;
justify-content: baseline;
margin: 25px 0;
}

.percent-usage-item:first-of-type {
background:#bd0d6e;
width: 35%;
height: 25px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

.percent-usage-item:last-of-type {  
background: #FAC5C5;
width: 15%;
height: 25px;
}

#storage .sidebar {
width: 15%;
height: 90vh;
}

#storage .sidebar ul {
margin-top: 25px;    
}

#storage .sidebar h3 {
font: normal 100 1em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
text-align: left;
margin: 10px 0;
padding: 5px 0;
border-bottom: 1px solid rgb(229, 228, 228);
text-transform: uppercase;
}

#storage .sidebar ul li {
font: normal 900 0.8em "mr-eaves-modern", sans-serif;
color: #5D5D5D; 
text-transform: uppercase;
}

#storage .sidebar ul li span {
font: normal 900 1.2em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D; 
text-transform: uppercase;
padding: 0 5px;
}

#storage .sidebar ul:last-child li span {
font: normal 900 0.8em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D; 
text-transform: uppercase;
text-decoration: underline;
}

#storage .sidebar ul li {
list-style-type: none;
}    

#storage .sidebar img {
width: 21px;
height: 21px;
margin: 0px 10px 0 0;
}

#storage .right-column {
padding: 50px;
width: 85%;
}

#storage .right-column header {
width: 60%;
margin: 0 auto;
}

#storage .right-column select {
width: 200px;
border-radius: 10px;
border: 1px solid rgba(212, 212, 212, 0.7);
padding-left: 10px;
font: normal 400 0.9em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
}

#storage .right-column header h3 {
font: normal 100 1.8em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
text-align: left;
text-transform: uppercase;
}

#storage .right-column #document-container header {
width: 100%;     
border: none; 
border-bottom: 1px solid rgba(212, 212, 212, 0.7);
}

#document-container {
border: 1px solid rgba(212, 212, 212, 0.7);
border-radius: 25px;;
padding: 10px;
width: 60%;
margin: 4% auto 0 auto;
}

#document-container header ul {
margin: 10px 0;
padding: 5px 0;
border-bottom: 1px solid rgba(212, 212, 212, 0.7);
}

#document-container ul {
margin: 10px 0;
padding: 5px 0 10px 0;
border-bottom: 1px solid rgba(212, 212, 212, 0.7);
}

#document-container ul:last-of-type {
padding-bottom: 15px;
border-bottom:none;
}

#document-container header ul li {
display: inline;
list-style-type: none;
font: normal 700 1em "mr-eaves-xl-modern", sans-serif;
color: #5D5D5D;
padding-right: 300px;
}

#document-container header ul li:last-of-type {
padding-right: 280px;
}
    
#document-container ul li {
display: inline;
list-style-type: none;
font: normal 100 1em "mr-eaves-modern", sans-serif;
color: #5D5D5D;
padding-right: 260px;
}

#document-container ul li:nth-of-type(2) {
padding-right: 175px;
}

#document-container ul li:last-of-type {
padding-right: 5px;
}

#document-container ul li:last-of-type a {
text-decoration: none;
color: #5D5D5D;
}

/*********/


/* settings */

#settings {
margin: 7% auto 0 auto;    
width: 50%;
}

#settings img {
display: block;
margin: 0 auto 15px auto;
border: 3px solid #8d8d8d;
border-radius: 50px;
padding: 2px;
}

#settings h3 {
text-align: center; 
text-transform: uppercase; 
font: normal 200 1.8em "mr-eaves-sans", sans-serif;
color: #5D5D5D;   
}

#settings form {
display: block;
width: 75%;    
margin: 25px auto 0 auto; 
}

#settings form input[type='text']:last-of-type {
width: 93%;
}

#settings form input::placeholder, #settings textarea {
padding-left: 5px;
}

#settings textarea {
color:#5D5D5D;    
font: normal 200 0.9em "mr-eaves-sans", sans-serif;
padding: 5px 0 0 5px;
resize: none;
outline: none;
}

#settings form input {
width: 45%;
height: 35px;
margin: 15px 0 0 15px;
border: 1px solid rgb(204, 204, 204);
padding-left: 5px;
outline: transparent;
font: normal 200 0.9em "mr-eaves-sans", sans-serif;
color:#5D5D5D;
}

#settings select {
width: 93.5%;
height: 35px;
margin: 15px 0 0 15px;
border: 1px solid rgb(204, 204, 204);
outline: transparent;
padding-left: 5px;
font: normal 200 0.9em "mr-eaves-sans", sans-serif;
color:#717171;
}

textarea {
width: 93%;
height: 100px;
margin: 15px 0 0 15px;
border: 1px solid rgb(204, 204, 204);
}

#settings form button {
width: 150px;
height: 45px;    
border-radius: 15px;
background:#bd0d6e;
border: none;  
color:#FAFAFA;  
margin: 25px 0 0 15px;
font: normal 200 0.9em "mr-eaves-sans", sans-serif;
cursor: pointer;
}

/*********/


/* overlay */

.overlay {
background: rgba(var(--borderColor), 0.2);
filter: blur(3px);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
overflow: hidden;
z-index: -5;
}


/*********/


/* animations */

@keyframes slideRight {
   from {
      width: 0;
   }
   to {
      width: 90%;
   }
}


/*********/