/*

font-family: "fatfrank", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "mr-eaves-xl-modern", sans-serif;
font-weight: 900;
font-style: normal;

font-family: "mr-eaves-sans", sans-serif;
font-weight: 400;
font-style: normal;

*/